# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environments
.env
.venv/
venv/
ENV/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Node/npm cache (if any)
node_modules/

# Python packaging
*.egg-info/
*.egg
build/
dist/
